eureka:
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://192.168.2.134:8761}/eureka/

security:
 user:
   password: password
 basic:
   enabled: false
 oauth2:
   client:
     client-id: my-client-with-secret
     client-secret: secret
   resource:
     user-info-uri: http://192.168.2.34:8080/uaa/userinfo

     
management:
  security:
    enabled: false
